<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fireInsuranceMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="fireInsuranceMap" type="insurance.fireInsurance">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
		<result property="insuranceName" column="insuranceName" />
		<result property="subscriptionTarget" column="subscriptionTarget" />
		<result property="insurancePeriod" column="insurancePeriod" />
		<result property="insuranceMoney" column="insuranceMoney" />
		<result property="payment" column="payIn" />
		<result property="specialSubscription" column="specialSubscription" />
		<result property="insuranceID" column="insuranceID" />

	</resultMap>

	<!-- 단일행 조회를 위한 기능 정의 -->
	<select id="insertInfo" parameterType="insurance.fireInsurance" resultMap="fireInsuranceMap">
        SELECT * FROM insurance where insuranceName = #{insuranceName};
    </select>

	<insert id="fireInsert" parameterType="insurance.fireInsurance" useGeneratedKeys="true" keyProperty="insuranceID">
    	insert into insurance(insuranceName, subscriptionTarget, payIn, insurancePeriod, paymentMethod, insuranceMoney,specialSubscription)
    	values(#{insuranceName},#{subscriptionTarget},#{payment},#{insurancePeriod},#{paymentMethod},#{insuranceMoney}, #{specialSubscription});
    </insert>


	<insert id="fireInsertClient" parameterType="insuranceRegistration.fireInsuranceRegistration" useGeneratedKeys="true" keyProperty="name">
       insert into fireInsuranceRegistrationInfo(
        insuranceName,name, residentRegistrationNumber, age, gender, phoneNumber, address,accountNumber, email, job, accidentHistory, longterm
       ) values(
      #{insuranceName},#{name},#{residentRegistrationNumber},#{age},#{gender},#{phoneNumber},#{address}, #{accountNumber}, #{email}, #{job}, #{accidentHistory}, #{longterm});
    </insert>

</mapper>